footer {
    flex-wrap: wrap;
    background-color:rgb(3, 16, 36);
    color:#476999 ;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    height: 200px;
    position: relative;
}
