footer {
    display: flex;
    background-image: url(../img/27.webp);
    background-size: cover;
    background-position: 50%;
    color: whitesmoke;
    padding: 10px;
    justify-content: space-between;
}

/*Cajas de texto */

.fcolumn {
    text-align: center;
    flex: 1;
    backdrop-filter: blur(25px);
    padding: 30px;
    border-radius: 8px;
    margin: 10px;
}

.fcolumn ul li {
    border-radius: 5px;
    list-style: none;
}

.fcolumn ul li a {
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.5s ease;
}

.fcolumn ul li a:hover {
    color: rgba(0, 0, 0, 0.863)
}

/*Ajustes de Avisos y políticas*/

.politicas {
    background-color: black;
    padding: 10px;
}

.politicas ul {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.politicas ul li {
    margin: 10px;
    list-style: none;
}

.politicas ul li a {
    text-decoration: none;
    color: rgba(233, 233, 233, 0.553);
    transition: color 0.5s ease;
}

.politicas ul li a:hover {
    color: rgba(255, 255, 255, 0.882);
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: stretch;
        height: auto;
    }
}
