<aside>
    <div class="square-bento">
        <p>sample text<br>
            sample text<br>
            sample text<br>
            sample text<br>
            sample text<br>
            sample text<br>
    </div>
    <div class="square-bento">
        <p>sample text<br>
            sample text<br>
            sample text<br>
            sample text<br>
            sample text<br>
            sample text<br>
    </div>
    <div class="square-bento">
        <p>sample text<br>
            sample text<br>
            sample text<br>
            sample text<br>
            sample text<br>
            sample text<br>
    </div>
    <div class="square-bento">
        <p>sample text<br>
            sample text<br>
            sample text<br>
            sample text<br>
            sample text<br>
            sample text<br>
    </div>
</aside>