<footer id="footer">
    <div class="fcolumn">
        <ul>
            <li><p><a href="#">Instagram</a></p></li>
            <li><p><a href="#">Vimeo</a></p></li>
            <li><p><a href="#">YouTube</a></p></li>
            <li><p><a href="#">Skypixel</a></p></li>
        </ul>
    </div>
    <div class="fcolumn">
        <p><b>RICARDO A.</b>
        <br><b>Teléfono</b> · (+34) 6512158645
        <br><b>Dirección</b> · Calle Astraín, 27
        <br><b>Email</b> · ric@aweb.es
        </p>
    
    </div>
    <div class="politicas">
        <ul>
            <li><p><a href="#">Aviso legal</a></p></li>
            <li><p><a href="#">Política de Privacidad</a></p></li>
            <li><p><a href="#">Política de Cookies</a></p></li>
        </ul>
    </div>
</footer>
