<footer id="footer">
    <div class="fcolumn">
        <ul>
            <li><p><a href="#">Instagram</a></p></li>
            <li><p><a href="#">Vimeo</a></p></li>
            <li><p><a href="#">YouTube</a></p></li>
            <li><p><a href="#">Skypixel</a></p></li>
        </ul>
    </div>
    <div class="fcolumn">
        <p><b>fake webmaster info:</b>
        <br><b>Teléfono</b> · (+34) 6512158645
        <br><b>Dirección</b> · Avenida Lorem Ipsum, 123
        <br><b>Email</b> · ric@aweb.o</p>
    </div>
</footer>
    <div class="politicas">
        <ul>
            <li><p><a href="aviso_legal.html">Aviso legal</a></p></li>
            <li><p><a href="privacidad.html">Política de Privacidad</a></p></li>
            <li><p><a href="cookies.html">Política de Cookies</a></p></li>
        </ul>
    </div>
    
