<footer id="footer">
    <div class="fcolumn">
        <ul id="icons">
            <li><p><a href="https://www.instagram.com/riclapse"><img src="/img/icons/instagram.png"></a></p></li>
            <li><p><a href="https://www.vimeo.com/riclapse"><img src="/img/icons/vimeo.png"></a></p></li>
            <li><p><a href="https://www.youtube.com/@Riclapse"><img src="/img/icons/youtube.png"></a></p></li>
            <li><p><a href="https://www.skypixel.com/users/djiuser-yle8jchd7oum"><img src="/img/icons/skypixel.png"></a></p></li>
        </ul>
    </div>
    <div class="fcolumn">
        <p>
        <b>fake webmaster info:</b>
        <br><b>Teléfono</b> · (+34) 6512158645
        <br><b>Dirección</b> · Avenida Lorem Ipsum, 123
        <br><b>Email</b> · ric@aweb.o
        </p>
    </div>
</footer>
    <div class="politicas">
        <ul>
            <li><p><a href="avisolegal.html">Aviso legal</a></p></li>
            <li><p><a href="privacidad.html">Política de Privacidad</a></p></li>
            <li><p><a href="cookies.html">Política de Cookies</a></p></li>
        </ul>
    </div>
    
