<form>
    <fieldset>
        <legend><small>DATOS PERSONALES</small></legend>
            <label>Nombre completo:</label>
            <input type="text" name="nombre" size="20" maxlength="40" placeholder="Nombre">
            <input type="text" name="apellido" size="30" maxlength="50" placeholder="Apellidos">
            <br>
            <label>Correo electrónico:</label>
            <input type="email" name="mail" size="25" maxlength="50" placeholder="E-mail">
            <br>
            <label>Contraseña:</label>
            <input type="password" name="contraseña">
            <br>
            <label>Fecha de nacimiento:</label>
            <input type="date" name="fecha_nacimiento">
    </fieldset>
    <br>
        <legend><small>COMENTARIOS</small></legend>
        <textarea class="comentariopc" name="comentario" rows="25" cols="100" placeholder="Aquí puedes escribir comentarios."></textarea>
        <textarea class="comentariomovil" name="comentario" rows="20" cols="20" placeholder="Aquí puedes escribir comentarios."></textarea>
    <br>
</form>