<header>
    <div class="menu">
        <a href="../index.html" class="logo">
            <img src="../img/rcirculo.gif" alt="Logo animado">   
        </a>
        <form action="https://www.google.com/search" method="GET">
            <input type="text" name="q" class="tbox"  placeholder="  Buscar con Google">
            <button type="submit">
                <img src="../img/lupa.png" alt="Lupa" width="30px" height="30px">
            </button>            
        </form>
    </div>
    <nav class="navbar">
        <li><b><a href="../proyecto.html" class="nav-link">PROYECTO</a></b></li>
        <li><b><a href="../contacto.html" class="nav-link">CONTACTO</a></b></li>
        <li><b><a href="#footer" class="nav-link" id="animfooter">REDES</a></b></li>
    </nav>
</header>
