/* Importación de CSS de partials */

@import url('css/fonts.css');
@import url('css/header.css');
@import url('css/aside.css');
@import url('css/footer.css');

/* General */

html, body  {
    font-family: 'SFProDisplay', 'Archivo', Arial;
    background-color:rgb(245, 245, 245);
    scroll-behavior: smooth;
}

section {
    padding:10px;
    flex-basis: 300px;
    flex-grow: 1;
}

/* Barra de desplazamiento */

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: rgb(245, 245, 245);
}
  
::-webkit-scrollbar-thumb {
    background-color: rgb(107, 107, 107);
    border-radius: 50px;
}

/* Index */

.main {
    display: flex;
}

.actual-big-bento {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(0, 0, 0); /* Fondo del bento grande */
    padding: 20px; /* Ajusta según sea necesario */
    margin: 20px; /* Márgenes del bento grande */
    border-radius: 10px; /* Esquinas redondeadas del bento grande */
    text-align: left; /* Alineación central del texto e imágenes */
}

.actual-big-bento h1 {
    padding-left: 6px;
    color: rgb(245, 245, 245);
    font-size: 5em;
    width: 100%; /* Asegura que el texto ocupe todo el ancho del contenedor */
}

.big-bento {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(226, 226, 226); /* Fondo del bento grande */
    padding: 20px; /* Ajusta según sea necesario */
    margin: 20px; /* Márgenes del bento grande */
    border-radius: 10px; /* Esquinas redondeadas del bento grande */
    text-align: left; /* Alineación central del texto e imágenes */
}

.big-bento h1 {
    padding-left: 6px;
    color: rgb(66, 66, 66);
    font-size: 5em;
    width: 100%; /* Asegura que el texto ocupe todo el ancho del contenedor */
}

.small-bento {
    flex-basis: calc(25% - 20px); /* 33.33% para que haya tres bentos por fila */
    margin: 10px; /* Espaciado entre los bentos pequeños */
    overflow: hidden; /* Evita problemas de alineación si las imágenes son de diferentes tamaños */
    border-radius: 8px; /* Esquinas redondeadas de los bentos pequeños */
    overflow: hidden; /* Evita que las imágenes sobresalgan de las cajas */
}

.small-bento img {
    width: 100%; /* Hace que la imagen ocupe el 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 8px; /* Bordes redondeados para las imágenes dentro de los bentos pequeños */
    /* Otros estilos para las imágenes según sea necesario */
}

@media (max-width: 768px) {
    .big-bento h1 {
        font-size: 3em;
    }
    /* Estilos adicionales para pantallas más pequeñas (ajusta según sea necesario) */
    .small-bento {
        flex-basis: calc(50% - 20px); /* Dos bentos por fila en pantallas más pequeñas */
    }
    .main {
        flex-direction: column; /* Cambia la dirección del flex container a columna */
    }

    .content {
        order: 2; /* Cambia el orden del contenido, el aside se colocará después de la section */
    }

    aside {
        order: 1; /* Cambia el orden del aside, se colocará antes de la section */
        width: 100%; /* Ocupa todo el ancho en dispositivos móviles */
        box-sizing: border-box;
    }
}

/* Proyecto */

.proyecto h1 {
    font-size: 3em;
    color: #4d4100;
    background-color: #c1ad3d;
    padding: 15px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporción 16:9 para hacer el contenedor responsive */
    overflow: hidden;
    margin: auto; /* Centrar el contenedor */
    max-width: 1000px; /* Ancho máximo del contenedor */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    /* Estilo adicional para pantallas más grandes (por ejemplo, width: 75%) */
    .video-container {
        width: 75%;
    }
}